rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /movements/{movementId}/image {
      allow read, write: if true;
    }
    match /movements/{movementId}/video {
      allow read, write: if true;
    }
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
